In [68]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [69]:
data_dir = "../../datasets/ticket_cancel/tickets.csv"

In [70]:
df = pd.read_csv(data_dir)
df

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,NaN,2022-06-04 12:10:00,37579327,1050781.0,5,NaN,True,5900000.0,0.0,...,1,بوئینگ 737,False,Int,Plane,0,NaN,NaN,605105141718,103215806
101013,2022-10-29 20:54:31.330,NaN,2022-11-01 15:30:00,39789479,3085407.0,2,403095.0,True,926500.0,0.0,...,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,NaN,NaN,414997568556,193262890
101014,2022-09-03 17:57:22.067,NaN,2022-09-13 09:30:00,38991563,2322052.0,5,528307.0,True,30000000.0,0.0,...,0,NaN,False,Int,InternationalPlane,0,47b8f2d9b5de7e0e0e7234c18a1aa0c4b35798e6cb46b4...,a4dcb7941ee3c8f7b1fc6a171015692bc961d65a84ad47...,99460830937,34732401
101015,2022-09-29 13:15:51.303,NaN,2022-09-29 17:30:00,39406503,7664730.0,3,797946.0,True,980000.0,0.0,...,1,25 نفره (VIP),True,Work,Bus,0,NaN,718bc52c3e88520531463b385998a1193e2821d518b60b...,487489926847,458338866
101016,2022-03-31 13:29:11.530,NaN,2022-04-05 17:10:00,36742809,2711094.0,2,NaN,True,3168000.0,0.0,...,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,NaN,da0821178342aeaab37bb1e44c162660c7d3196ae2f987...,146462381941,999949622

In [71]:
df = df.drop(columns=["CancelTime", "HashPassportNumber_p", "HashEmail", "BuyerMobile", "BillID", "TicketID", "NationalCode"])
df["TimeDelta"] = (pd.to_datetime(df["DepartureTime"]) - pd.to_datetime(df["Created"]))
df[100:600]

,Created,DepartureTime,ReserveStatus,UserID,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,TimeDelta
100,2022-11-01 21:44:00.230,2022-11-02 06:00:00,5,982790.0,True,7940000.0,59550.0,تهران,اردبیل,1,بوئینگ MD83,False,Work,Plane,0,0 days 08:15:59.770000
101,2022-10-15 14:27:52.160,2022-10-19 21:40:00,5,237697.0,True,11745000.0,0.0,تهران,ارومیه,1,بوئینگ MD83,False,Work,Plane,0,4 days 07:12:07.840000
102,2022-08-17 08:43:20.653,2022-08-18 18:25:00,2,526594.0,True,3518000.0,0.0,شیراز,تهران,1,4 ستاره 4 تخته طلائيه,NaN,Work,Train,0,1 days 09:41:39.347000
103,2022-10-07 18:03:02.843,2022-10-15 14:35:00,5,NaN,False,6963000.0,0.0,شیراز,بندرعباس,1,فوکر 100,False,Int,Plane,0,7 days 20:31:57.157000
104,2022-09-16 14:40:36.030,2022-09-18 14:45:00,2,742800.0,True,3043500.0,0.0,خرمشهر,تهران,1,4ستاره 4 تخته كرخه,NaN,Int,Train,0,2 days 00:04:23.970000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2022-05-15 10:05:12.160,2022-05-18 18:00:00,5,NaN,True,2030000.0,0.0,چالوس,اصفهان,1,مارال 25 نفره VIP,True,Work,Bus,1,3 days 07:54:47.840000
596,2022-05-03 00:13:28.313,2022-05-04 16:00:00,5,NaN,True,2250000.0,0.0,شهرکرد,بابل,1,مارال V I P مانیتوردار باشارژاختصاصی همراه ب...,True,Work,Bus,1,1 days 15:46:31.687000
597,2022-07-26 08:48:18.027,2022-09-01 16:45:00,2,NaN,True,3837000.0,0.0,اصفهان,مشهد,1,4ستاره 4 تخته نور,NaN,Int,Train,0,37 days 07:56:41.973000
598,2022-07-26 10:12:54.900,2022-08-08 15:30:00,4,287040.0,True,2162000.0,0.0,مشهد,ساری,1,3ستاره6تخته پارسي,NaN,Int,Train,1,13 days 05:17:05.100000
599,2022-08-31 19:16:05.300,2022-09-03 22:40:00,4,637259.0,True,3407500.0,0.0,تهران,مشهد,1,4ستاره 4 تخته غدير,NaN,Work,Train,1,3 days 03:23:54.700000

In [72]:
def timedelt_to_hours(x):
    return x.seconds / 3600.0

df["TimeDelta"] = df["TimeDelta"].apply(timedelt_to_hours)

In [73]:
df

,Created,DepartureTime,ReserveStatus,UserID,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,TimeDelta
0,2022-10-23 09:38:49.110,2022-11-02 23:59:00,5,122885.0,True,6600000.0,34425.0,گرگان,تهران,1,NaN,False,Work,Plane,0,14.336111
1,2022-08-15 14:51:43.160,2022-08-18 04:15:00,5,876925.0,True,9500000.0,0.0,مشهد,تهران,1,NaN,False,Int,Plane,0,13.387778
2,2022-09-20 17:25:27.250,2022-09-21 11:00:00,3,916640.0,False,2000000.0,0.0,شیراز,اهواز,1,VIP 2+1,True,Work,Bus,0,17.575556
3,2022-06-25 11:32:53.980,2022-06-26 08:30:00,2,NaN,False,40000.0,0.0,تبریز,جلفا,1,3 ستاره اتوبوسي,NaN,Int,Train,0,20.951667
4,2022-06-01 11:30:53.633,2022-06-02 23:00:00,3,NaN,True,1130000.0,0.0,تهران,نجف آباد (اصفهان ),1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,11.485000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,2022-06-04 12:10:00,5,NaN,True,5900000.0,0.0,شیراز,کیش,1,بوئینگ 737,False,Int,Plane,0,11.829167
101013,2022-10-29 20:54:31.330,2022-11-01 15:30:00,2,403095.0,True,926500.0,0.0,میانه,تهران,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,18.591111
101014,2022-09-03 17:57:22.067,2022-09-13 09:30:00,5,528307.0,True,30000000.0,0.0,نجف,تهران,0,NaN,False,Int,InternationalPlane,0,15.543611
101015,2022-09-29 13:15:51.303,2022-09-29 17:30:00,3,797946.0,True,980000.0,0.0,اصفهان,یزد,1,25 نفره (VIP),True,Work,Bus,0,4.235556
101016,2022-03-31 13:29:11.530,2022-04-05 17:10:00,2,NaN,True,3168000.0,0.0,کرمان,تهران,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,3.680000

In [76]:
len(df["VehicleType"].unique())

226